/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    color: inherit;
}

/* page */
.body {
    min-width: 1100px;
    margin: 0;
    font-family: Raleway, sans-serif;
    color: #000;
    background: #fff;
}

/* address */
.address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
}

.address__link {
    text-decoration: underline;
}

.address__text {
    text-decoration: none;
}

/* header */
.header {
    padding: 92px 50px 96px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    list-style: circle;
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: underline;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
}

.header__logo-image {
    display: block;
    width: 100%;
    height: auto;
}

.header__address {
    justify-self: end;
    max-width: 240px;
}

/* overlay */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

/* cover */
.cover {
    position: relative;
    padding: 165px 50px 50px;
    background: url("../images/cover.jpg") center / cover no-repeat;
    color: #fff;
    text-transform: uppercase;
}

.cover__title {
    position: relative;
    z-index: 1;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 1;
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cover__description-text {
    font-size: 22px;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid currentColor;
    padding: 12px 32px;
    background: transparent;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

/* lots */
.lots {
    padding: 180px 24px;
}

.lots__heading {
    margin: 0 0 27px 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between; /* ключ: равномерно по ширине */
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 334px;
    height: 563px;
    flex: 0 0 334px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: underline;
}

/* about */
.about {
    padding: 0 24px 180px;
    display: grid;
    grid-template-columns: 334px 1fr;
    column-gap: 25px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 35px auto 0;
}

.about__logo-image {
    width: 148px;
    height: auto;
    display: block;
}

.about__title {
    margin: 100px 0;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
}

.about__paragraph {
    margin: 0;
}

.about__paragraph:first-child {
    margin-bottom: 25px;
}

/* footer */
.footer {
    padding: 0 50px 88px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.footer__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: end;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    display: block;
}
